head
  title= "melt.ee"
  link(rel='stylesheet', href='/css/main.css')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0')
  meta(name='apple-mobile-web-app-capable', content='yes')

  block css
