extend layout

block css
  link(rel='stylesheet', href='/css/admin.css')
  link(rel='stylesheet', href='/css/jquery-ui-1.9.1.custom.min.css')

block content
  div(id='title_logout')
    div(id='title') &#x270E; Melt.ee
    div(id='logout', class='btn btn-inverse') Log out
  div(id='tabs')
  div(id='data')

  script(id="linkedin_users_header", type="text/x-handlebars-template")
    tr
      th Pic
      th Name
      th First login
      th Topic 1
      th Topic 2
      th Topic 3
  script(id="linkedin_users_list_row", type="text/x-handlebars-template")
    td(class="user_photo")
      a(href="{{ publicUrl }}")
        img(src="{{ pictureUrl }}")
    td
      a(href="{{ publicUrl }}") {{ firstName }} {{ lastName }}
    td {{ creation_timestamp }}
    td {{ topic1 }}
    td {{ topic2 }}
    td {{ topic3 }}

  script(id="conferences_header", type="text/x-handlebars-template")
    tr
      th 
      th Location
      th Date&time
      th Description
      th Spots
      th Active
      th
  script(id="conferences_list_row", type="text/x-handlebars-template")
    td(class="td_edit")
      div(class="edit_button btn btn-primary btn-mini") Edit
    td {{ location }}
    td {{ date_time }}
    td {{ description }}
    td {{ spots }}
    td 
      {{#if active}}
      input(class='is_active',type='checkbox',checked)
      {{else}}
      input(class='is_active',type='checkbox')
      {{/if}}
    td(class="td_edit")
      div(class="delete_row btn btn-inverse btn-mini") Delete

  script(id="conference_form", type="text/x-handlebars-template")
    h3(class='form_title') Add conference
    table(id='conference', class='form')
      tr
        th Location
        td
          input(name='location')
      tr
        th Date
        td
          input(name='date', class="small_input")
      tr
        th Time
        td
          input(name='time', class="small_input")
      tr
        th Description
        td
          textarea(name='description')
      tr
        th Number of spots
        td
          input(name='spots', class="small_input")
      tr
        th Active
        td
          input(type='checkbox', name='active', class='boolean')
      tr
        td
          div(class='cancel_form btn btn-inverse') Cancel
        td
          div(class='save_form btn btn-primary') Save

block scripts
  script(src='/js/handlebars-min.js')
  script(src='/js/admin_lib.js')
  script(src='/js/jquery-ui-1.9.1.custom.min.js')
  script(src='/js/admin.js')
