extend layout

block content
  h1
    span(class='melt_before') http://
    span(class='melt_left') melt
    span(class='melt_right') .ee
  h2 A place to melt new people

  h2 Please log in using Linkedin profile:

  a(href='/auth')
    img(src='/img/sso.png')
