extends layout

block content
    h1 http://melt.ee
    h2 A place to melt new people

    div
      div
        h2 Please log in using Linkedin profile:

      a(href='/auth')
        img(src='/img/sso.png')
