extends layout

block content
     table(id='main_table')
        tr
          td
            a(href= url)
              img(src= img_src)
          td
            div(id='name')
              = name
            br(clear='both')
            a(id='logout',href='/logout',class='grey_button') Log Out
      table(class="full")
        tr
          th I love to talk about
        tr
          td
            input(type='text',id='topic1')
        tr
          th I also love to talk about
        tr
          td
            input(type='text',id='topic2')
        tr
          th And about...
        tr
          td
            input(type='text',id='topic3')
        tr
          td
        tr
          td
            div(id='cancel_topics',class='grey_button') Cancel
            div(id='save_topics',class='black_button') Save
            div(id='edit_topics',class='edit_button') Edit

    script(type='text/template',id='test_template')
      table
        tr
          td testing...

block scripts
  script(src='/topics.js')
  script(src='/js/loader.js')
