extend layout

block css
  link(rel='stylesheet', href='/css/mobile.css')


block content
  div.row
    div.span4.logo
       img(src='', alt="logo", title="logo")
       h1 Melt.ee
       p Connect in person
       hr

  div.row
    div.span4
      p.lead Hi #{name}!

  div.row
    div.span4
      form
        label Which event are you attending right now?

        div.input-append
          select.span2
            option Event 1
            option Event 2
          button.btn Go!

        hr

        label You can view and edit your Three Topics here
        button.btn I love to talk about ...

block scripts
  script(src='/js/mobile.js');
