extend layout

block css
  link(rel='stylesheet', href='/css/mobile.css')


block content
  div.row
    div.span4.logo
       img(src='', alt="logo", title="logo")
       h1 Melt.ee
       hr

  div#target

  include mobile/events.jade

  include mobile/ready.jade

  include mobile/waiting.jade

  include mobile/handshake.jade

  include mobile/melt.jade

  include mobile/thanks.jade

block scripts
  script(src='/js/mobile.js');
