extend layout

block css
  link(rel='stylesheet', href='/css/mobile.css')


block content
  div.row
    div.span4.logo
       img(src='', alt="logo", title="logo")
       h1 Melt.ee
       p Connect in person

  div.row
    div.span4
      p Hi #{name}!
      p Which event are you attending right now?

  div.row
    div.span4
      a.btn.dropdown-toggle.btn-large(data-toggle="dropdown", href="#") Choose event&nbsp;
        span.caret
      ul.dropdown-menu
        li Event 1
        li Event 2

  div.row
    div.span4
      p You can view and edit your Three Topics here
      button.btn I love to talk about

block scripts
  script(src='/js/mobile.js');
