extend layout

block css
  link(rel='stylesheet', href='/css/mobile.css')


block content
  div.row
    div.span4.logo
       img(src='', alt="logo", title="logo")
       h1 Melt.ee
       hr

  div#view

  script#template-events(type="text/template")
    include mobile/events.jade

  script#template-ready(type="text/template")
    include mobile/ready.jade

  script#template-waiting(type="text/template")
    include mobile/waiting.jade

  script#template-handshake(type="text/template")
    include mobile/handshake.jade

  script#template-melt(type="text/template")
    include mobile/melt.jade

  script#template-thanks(type="text/template")
    include mobile/thanks.jade

block scripts
  script(src='/js/mobile.js');
