extend layout_desktop

block css
  link(rel='stylesheet', href='/css/desktop.css')

block content
  .clearfix.middle.top
    .td
      a(href="/")
        img(src="img/meltee-logo.png")
    .td.right
      a#logout.btn.btn-inverse(href='/logout') Log Out
  .hline
  .clearfix.middle
    table.full
      tr
        th 
          .three_topics Please tell us 3 topics you love to talk about.
            br
            span They will be shown in mobile app when you will be introduced to other event attendees.
          .topics_shown These are your three topics that will be shown in your mobile app when meeting another atendee
      tr
        th #Topic1 - I love to talk about...
      tr
        td
          input#topic1.topic_input.input-xxlarge(type="text",maxlength="100")
      tr
        th #Topic2 - I also love to talk about...
      tr
        td
          input#topic2.topic_input.input-xxlarge(type='text',maxlength="100")
      tr
        th #Topic3 - Finally, I also love to talk about...
      tr
        td
          input#topic3.topic_input.input-xxlarge(type='text',maxlength="100")
      tr
        td
      tr
        td.actions
          div#cancel_topics.btn.cancel_topics Cancel
          div#save_topics.btn.btn-primary.save_topics Save
          div#edit_topics.btn.btn-primary Edit 
  .hline
  .clearfix.middle.footer
    div Melt.ee service is operated by company 3BL d.o.o. in Slovenia, founded by&nbsp;
     a(href="http://si.linkedin.com/in/matejgolob") Matej Golob

block scripts
  script(src='/load_topics.js')
  script(src='/js/topics.js')