
@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";


a.login_button {
    text-indent: -100% !important;
    background: url("/img/linkedin-button-login.png") no-repeat;
    height: 66px;
    width: 320px;
    display: inline-block;
}

div.logo {
    img {
        float: right;
    }

    h1 {
        margin-bottom: 0;
        line-height: 36px;
    }

    p {
        margin-bottom: 0;
    }
}

.center {
    text-align: center;
}
