
div.row
  div.span4
    p.lead Hi #{name}!

div.row
  div.span4
    form
      label Which event are you attending right now?

       div.hidden-desktop
         select

         div
           a.btn.btn-primary.go(href="/ready") Go!

      div.input-append.hidden-phone.hidden-tablet
        select

        a.btn.btn-primary.go(href="/ready") Go!


      hr

      div
        label You can view and edit your Three Topics here
        a.btn.topics(href="/topics/events") I love to talk about ...
