
div.row
  div.span4
    p.lead Hi #{name}!

div.row
  div.span4
    form
      label Which event are you attending right now?

       div.hidden-desktop
         select
           option Event 1
           option Event 2

         div
           button.btn.btn-primary Go!

      div.input-append.hidden-phone.hidden-tablet
        select
          option Event 1
          option Event 2
         button.btn.btn-primary Go!


      hr

      div
        label You can view and edit your Three Topics here
        button.btn I love to talk about ...
