
div.row
  div.span4
    p.lead OK, now please immediately come to&nbsp;
      strong Melt.ee Spot {{spot}}
    div.center
      p You will be introduced to
      p.lead
        strong {{other.firstName}} {{other.lastName}}

    hr

div.row
  div.span4.center
    p Once you have shaken hands with {{other.firstName}} {{other.lastName}} ,&nbsp;
      strong please confirm
      &nbsp;it here
    div
      button.btn.btn-primary.btn-large.handshake Hand shaken!

      p &nbsp;
      div.waiting
