
div.row
  div.span4
    p.lead OK, now please immediately come to&nbsp;
      strong Melt.ee Spot 3
    div.center
      p You will be introduced to
      p.lead
        strong Matej Rifelj

    hr

div.row
  div.span4.center
    p Once you have shaken hands with Matej Rifelj,&nbsp;
      strong please confirm
      &nbsp;it here
    div
      button.btn.btn-primary.btn-large Hand shaken!
