
div.row
  div.span4
    p.lead.center OK, now please&nbsp;
      strong talk about your three topics
      &nbsp;and&nbsp;
      strong Matej Rifelj
      &nbsp;might ask questions:
    hr

div.row
  div.span4
     dl
       dt 1. Topic
       dd Subtopic blah, blah blah
       dt 2. Topic
       dd blah blah blah blah
       dt 3. Topic
       dd blah blah blah
     hr

div.row
  div.span4.center
    h1 78
    p seconds left
