
div.row
  div.span4
    p.lead #{name} are you ready to meet other attendees?
    div.center
      a.btn.btn-large.btn-primary(href="/waiting/Event1") Yes melt me!

    hr

div.row
  div.span4
    p.center There are currently&nbsp;
      strong 5 people
      &nbsp;at Event, ready to melt.
