
div.row
  div.span4
    p.lead #{name} are you ready to meet other attendees?
    div.center
      a.btn.btn-large.btn-primary(href="/waiting/{{event_id}}") Yes melt me!

    hr

div.row
  div.span4.meta
