
div.row
  div.span4
    p.lead #{name} are you ready to meet other attendees?
    div.center
      a.btn.btn-large.btn-primary(href="/waiting/{{event_id}}") Yes melt me!

    hr

div.row
  div.span4.meta
    p.center There are currently&nbsp;
      strong 5 people
      &nbsp;at Event, ready to melt.

div.row.space_top
  div.span4.center
    a.btn.topics(href="/topics/ready/{{event_id}}") Edit topics
