
div.row
  div.span4.center
    p
      strong Thank you
      &nbsp; for using Melt.ee service! We believe you now know each other a little bit. We will follow up this short meeting and&nbsp;
      strong send you both your contacts
      &nbsp;via emil.
    p Enjoy the rest of Event
    a.btn.btn-primary.btn-large(href="/ready") OK
