
div.row
  div.span4
    p.lead You can edit your Three Topics here

div.row
  div.span4
    form
      div.control-group
        label I love to talk about ...
        input.input-large(type="text")

      div.control-group
        label I also love to talk about ...
        input.input-large(type="text")

      div.control-group
        label and about ...
        input.input-large(type="text")

      div.control-group
         a.btn(href="/") Back
         &nbsp;
         button.btn.btn-primary(type="submit") Save
