
div.row
  div.span4.center
    {{#if in_melt}}
    p.lead Waiting for the other user to handshake ...
    {{else}}
    p.lead Waiting for another user to be ready ...
    {{/if}}
    p
      img(src="/img/loader.gif")

{{#unless in_melt}}
div.row
  div.span4.center.space_top
    a.btn.changed_mind(href="/ready/{{event_id}}") I changed my mind
{{/unless}}
